@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.container_login{
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

